// Buttons // 

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 1s;
    @include mq {
        padding: 10px 30px;
          & + .btn {
          margin-left: 10px;
        }
      }
    }
  
  .default {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light
    }
  }
  
  .error {
    background-color: $error;
    &:hover {
      background-color: $error-light
    }
  }
  
  .info {
    background-color: $info;
    &:hover {
      background-color: $info-light
    }
  }
  
  .success {
    background-color: $success;
    &:hover {
      background-color: $success-light
    }
  }
  
  .warning {
    background-color: $warning;
    &:hover {
      background-color: $warning-light
    }
  }